# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 0c34a614df7e571cf516504875aaf6fb06cbbcff270df502bd5f6412201c3af2710c8f3b82e800b55378d423bd2ee67fd886efd275ba66d2498a470929367bf8

test:
  secret_key_base: 4cb4d6ced1095317b1460287c27ac19038cae0c76701f2e8de2e1ce718b421f1c66b43e3a51b6124c1599f75ff585713c76f831bdde09eb6841d22ab6c52faec

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>